#forecast-week-day i, #temp-icon, #forecast-today-details div h2 {
  background: -webkit-linear-gradient(#7a20bd, #0115ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#input-token input, #input-location {
  outline: none;
  text-shadow: 0px 0px 0.1vw #4e30ff;
  border: inset 0.3vw #6857af;
  transition: box-shadow 0.2s ease-in-out;
}

#input-token input:focus, #input-location:focus {
  box-shadow: 0 0 0.2vw 0.1vw #4e30ff;
}

#input {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#input h1 {
  font-size: 8vw;
}
#input h2 {
  font-size: 4vw;
}
#input button {
  outline: none;
  color: white;
  padding: 0.5vw 2vw;
  border: inset 2px #a04ede;
  border-radius: 1vw;
  background-image: linear-gradient(45deg, #7a20bd, #0115ff);
  box-shadow: 0px 0px 0px 1px #7a20bd;
  transition: 1s;
  font-size: 6vw;
}
#input button:hover {
  color: #202b47;
  background-image: linear-gradient(45deg, #6a54c05c, #1661f3d6);
}

#input-location {
  border-radius: 1.5vw;
  width: 35vw;
  font-size: 5vw;
  text-align: center;
}

#input-token {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 4vw;
}
#input-token button {
  outline: none;
  font-size: 2vw;
  margin: inherit;
}
#input-token h2 {
  margin: 1vw;
  font-size: 2.5vw;
}
#input-token input {
  border-radius: 0.5vw;
  font-size: 2vw;
  width: 9vw;
}
#forecast-week-day i, #temp-icon, #forecast-today-details div h2 {
  background: -webkit-linear-gradient(#7a20bd, #0115ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#input-location, #input-token input {
  outline: none;
  text-shadow: 0px 0px 0.1vw #4e30ff;
  border: inset 0.3vw #6857af;
  transition: box-shadow 0.2s ease-in-out;
}

#input-location:focus, #input-token input:focus {
  box-shadow: 0 0 0.2vw 0.1vw #4e30ff;
}

#forecast {
  margin: 3vw;
}

#forecast-today {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin: 2vw;
}

#forecast-today-temp {
  display: flex;
  width: 65%;
}

#forecast-today-details div {
  display: flex;
}
#forecast-today-details div h2 {
  margin: 0.5vw;
  font-size: 2vw;
}
#forecast-today-details div h3 {
  margin: 0.5vw;
  font-size: 2vw;
}

#temp-info h3 {
  margin: auto;
  font-size: 2.5vw;
}
#temp-info h2 {
  font-size: 5vw;
  margin: auto;
}
#temp-info h1 {
  margin: auto;
  font-size: 10vw;
}

#temp-icon {
  font-size: 15vw;
  margin: 0vw 3vw 0vw;
}

.wi {
  line-height: 1.5 !important;
}

#forecast-week {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

#forecast-week-day {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: inset 0.3vw #6857af;
  border-radius: 0.5vw;
  width: 15%;
  margin: 0vw 0vw 1vw;
}
#forecast-week-day i {
  font-size: 7vw;
}
#forecast-week-day h2 {
  margin: 1vw;
  font-size: 3vw;
}
#forecast-week-day h3 {
  font-size: 2vw;
  margin: 3vw 0vw 1vw;
}

#forecast-week-day-temps {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 0vw 0vw 1vw 1vw;
}
#forecast-week-day-temps h3 {
  font-size: 3vw;
}

body {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.alert {
  font-size: 3vw;
  color: #ff0000;
}

/*# sourceMappingURL=index.css.map*/