@mixin flex($direction) {
  display: flex;
  align-items: center;
  flex-direction: $direction;
}

%icon-color {
  background: -webkit-linear-gradient(#7a20bd, #0115ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

%input {
  outline: none;
  text-shadow: 0px 0px 0.1vw rgb(78, 48, 255);
  border: inset 0.3vw #6857af;
  transition: box-shadow 0.2s ease-in-out;
}

%input-focus {
  box-shadow: 0 0 0.2vw 0.1vw #4e30ff;
}
